.container-fluid, .container-lg, .container-md, .container-sm, .container-xl {
    padding-right: 0!important;
    padding-left: 0!important;
}

.wrapper {
    display: flex;
    align-items: stretch;
}

.content-bar {
    width: 100%;
    padding: 5px;
    min-height: 100vh;
    transition: all 0.3s;
    overflow: hidden;
    min-width: 600px;
}
.router-container {
    padding: 5px 15px 5px 45px;
    width: 100%;
}

.sidebar-toggle-button{
    opacity: 0.5;
    position : fixed;
    z-index: 5;

}
.sidebar-toggle-button:hover{
    opacity: 1;
}
