:root{
    --header-bg-color: #d5e7e7;
}

.scrollable-table {
    max-width: 100%;
    min-height: 10em;
    max-height: 30em;
    overflow: scroll;
    position: relative;
}

table {
    font-size: .9em;
}

thead th {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: var(--header-bg-color);
    z-index: 1;
}


.table th {
    border-top: 0;
}
.table-sm td, .table-sm th {
    padding: .1rem .3rem;
}
td, th{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 15em;
}

td:hover{
    white-space: normal;
    font-weight: 500;
}







