<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="site-head :: site-head">

</head>

<body>
    <div th:include="layouts/header :: header"></div>

    <div th:include="site-head :: csrf-token"></div>

    <script th:include="site-head :: user-roles" th:inline="javascript"></script>

    <script th:include="site-head :: developer-mode" th:inline="javascript"></script>

    <script th:include="site-head :: stations" th:inline="javascript"></script>

    <div id="documents-page">

    </div>

    <script th:src="${isDevMode ? 'http://localhost:8000/documents.js' : '/js/documents.bungle.js'}"></script>

</body>
</html>